
body {
    min-height: 2000px;
}
a {
    text-decoration: none;
}
.linkig:hover {
    color: #dc3545;
}
nav img {
    width: 40px;
}

nav ul li a:hover {
    text-decoration-line: underline;
}
.jumbotron {
    padding: 8rem 1rem 3rem 1rem;
    /* background-image: url(../../latihan1/img/bg01.jpg); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #333;
}
.kartu {
    width: 85%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.150);
    backdrop-filter:saturate(200%) blur(0.7rem);
    color: black;
}
.about {
    padding: 5rem 0 3rem 0;
}
.Album {
    background-color: #fff0c5;
}
.maps {
    width: 80%;
}
/* @media (min-width: 800px) {
    .kartu {
        font-size: 10px;
    }
} */