
body {
    min-height: 2000px;
}
a {
    text-decoration: none;
}
.linkig:hover {
    color: #dc3545;
}
nav img {
    width: 40px;
}

nav ul li a:hover {
    text-decoration-line: underline;
}
.jumbotron {
    padding: 8rem 1rem 3rem 1rem;
    /* background-image: url(../../latihan1/img/bg01.jpg); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #333;
}
.about {
    padding: 5rem 0 3rem 0;
}
.Album {
    background-color: #fff0c5;
}
.maps {
    width: 80%;
}